.main_container{
    background: #1d2027;
    padding: 5vh 7vw;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .data {
        transition: ease-in-out .5s;
        flex: 1;
        max-height: 100%;
        margin-right: 2vw;
        overflow: hidden;
        h3 {
            color: white;
            margin: 0;
            padding: 10px 0;
        }
        .data_container {
            max-height: 100%;
            overflow-y: scroll;
            scroll-behavior: smooth;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .row_container{
                .intent_row {
                    display: flex;
                    flex-direction: row;
                    color: aliceblue;
                    border-radius: 10px;
                    overflow: hidden;
                    background-color: #27282b;
                    margin: 10px 0;
                    width: 100%;
                    transition: ease-in-out .3s;
                    &:hover {
                        opacity: 1;
                    }
                    .row {
                        
                        overflow: hidden;
                        flex: 1;
                        width: 100%;
                        padding: 5px 30px;
                        p {
                            margin: 0;
                            padding: 0;
                        }
                        
                    }
                    .intent_name {}
                    .intent_display_name {
                        flex: 3 !important;
                    }
                    .action {
                        flex: 3 !important;
                    }
                    .folloup_name {}
                    .parent_follow_up {}
                    .context_display {}
                }
            }
        }
        .showMoreDetails {
            display: none;
        }
    }
    .details {
        flex: 1;
        margin-left: 2vw;
        overflow-y: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        transition: ease-in-out .5s;
        .close{
            background-color: #1d2027;
            position: absolute;
            right: 7vw;
            .close_icon {
                height: 30px;
                width: 30px;
            }
        }
        .details_container {
            color: white;
            .row {
                overflow: hidden;
                overflow-wrap: break-word;
                border-radius: 10px;
                background-color: #27282b;
                margin: 5px 15px;
                padding: 10px 15px;
                p {
                    margin: 0;
                    padding: 0;
                }
            }
            h5 {
                margin: 0;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            h4 {
                margin: 0;
                padding: 10px 0;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .main_container{
        opacity: 1;
        overflow: hidden;
        .data {
            transition: ease-in-out .5s;
            flex: 1;
            max-height: 100%;
            margin-right: 0;
            h3 {
                color: white;
                margin: 0;
                padding: 10px 0;
            }
            .data_container {
                max-height: 100%;
                overflow-y: scroll;
                scroll-behavior: smooth;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                .row_container{
                    .intent_row {
                        display: flex;
                        flex-direction: row;
                        color: aliceblue;
                        border-radius: 10px;
                        overflow: hidden;
                        background-color: #27282b;
                        margin: 10px 0;
                        width: 100%;
                        transition: ease-in-out .3s;
                        &:hover {
                            opacity: 1;
                        }
                        .row {
                            
                            overflow: hidden;
                            flex: 1;
                            width: 100%;
                            padding: 5px 30px;
                            p {
                                margin: 0;
                                padding: 0;
                            }
                            
                        }
                        .intent_name {}
                        .intent_display_name {
                            flex: 3 !important;
                        }
                        .action {
                            flex: 3 !important;
                        }
                        .folloup_name {}
                        .parent_follow_up {}
                        .context_display {}
                    }
                }
            }
            .showMoreDetails {
                display: none;
            }
        }
        .details {
            width: 86vw;
            height: 90vh;
            // flex: 1;
            background: #1d2027;
            z-index: 10;
            position: absolute;
            // margin: 0 2vw;
            margin: 0;
            overflow-y: scroll;
            scroll-behavior: smooth;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            transition: ease-in-out .5s;
            opacity: 1;
            .close{
                right: 0;
                .close_icon {
                    height: 25px;
                    width: 25px;
                }
            }
            .details_container {
                .row {
                    p {}
                }
                h5 {}
                h4 {}
            }
        }
    }
}